{% extends "base_site.html" %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>故障管理</h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>故障列表</h2>
              <ul class="nav navbar-right panel_toolbox">
			    <li><a class="collapse-link" href="{% url 'fault_add' %}"><i class="glyphicon glyphicon-plus"></i></a>
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <table id="CustomDatatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>故障名称</th>
                    <th>故障级别</th>
                    <th>故障类型</th>
                    <th>影响业务</th>
                    <th>主导改进</th>
                    <th>持续时间</th>
                    <th>故障状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  {% for fault in FaultObj %}
                  <tr>
                    <td>{{ fault.name }}</td>
                    <td>{{ fault.get_level_display }}</td>
                    <td>{{ fault.type }}</td>
                    <td>{{ fault.get_project_display }}</td>
                    <td>{{ fault.get_improve_display }}</td>
                    <td>{{ fault.time }}</td>
                    {% if fault.status == 0 %}
                      <td class="text-danger">{{ fault.get_status_display }}</td>
                    {% elif fault.status == 1 %}
                      <td class="text-warning">{{ fault.get_status_display }}</td>
                    {% elif fault.status == 2 %}
                      <td class="text-primary">{{ fault.get_status_display }}</td>
                    {% elif fault.status == 3 %}
                      <td class="text-success">{{ fault.get_status_display }}</td>
                    {% endif %}
                    <td>{{ fault.create_datetime }}</td>
                    <td>
                      <a class="btn btn-success btn-xs" href="{% url 'fault_details' %}?id={{ fault.id }}">详情</a>
                      <a class="btn btn-info btn-xs" href="{% url 'hosts_profile' %}?id={{ fault.id }}">编辑</a>
                      <span class="del_fault" CurlId="{{ fault.id }}">
                        <button type="button" class="btn btn-danger btn-xs">删除</button>
                      </span>
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- 自定义js -->
  <script src="/static/js/validfaultform.init.js"></script>
{% endblock javascripts %}