{% extends "base_site.html" %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>故障管理</h3>
        </div>
        <div class="title_right"></div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>添加故障</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="up_faultForm" data-parsley-validate class="form-horizontal form-label-left" action="{% url 'fault_profile' %}" method="post" role="search">
                {% csrf_token %}
                {% for fault in Fault %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">故障概述 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="hidden" id="get_id" name="get_id" class="form-control col-md-7 col-xs-12"  value="{{ fault.id }}">
                    <input type="text" id="name" name="name" class="form-control col-md-7 col-xs-12"  value="{{ fault.name }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for=level">故障级别 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- 故障级别 -->
                    <input type="hidden" id="get_level" name="get_level" class="form-control col-md-7 col-xs-12"  value="{{ fault.get_level_display }}">
                    <select class="form-control" id="level" name="level">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for=types">故障类型 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- 故障类型 -->
                    <input type="hidden" id="get_type" name="get_type" class="form-control col-md-7 col-xs-12"  value="{{ fault.type }}">
                    <select class="form-control" id="types" name="types">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project">影响项目 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- 影响项目 -->
                    <input type="hidden" id="get_project" name="get_project" class="form-control col-md-7 col-xs-12"  value="{{ fault.get_project_display }}">
                    <select class="form-control" id="project" name="project">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">故障状态 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- 故障状态 -->
                    <input type="hidden" id="get_status" name="get_status" class="form-control col-md-7 col-xs-12"  value="{{ fault.get_status_display }}">
                    <select class="form-control" id="status" name="status">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="improve">主导改进 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- 主导改进 -->
                    <input type="hidden" id="get_improve" name="get_improve" class="form-control col-md-7 col-xs-12"  value="{{ fault.get_improve_display }}">
                    <select class="form-control" id="improve" name="improve">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="duration_time">持续时间 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="hidden" id="starttime" name="starttime" class="form-control col-md-7 col-xs-12" value="{{ fault.start_time }}">
                    <input type="hidden" id="endtime" name="duration_time" class="form-control col-md-7 col-xs-12" value="{{ fault.end_time }}">
                    <input type="text" id="duration_time" name="duration_time" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="effect">故障影响 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="effect" class="form-control" name="effect" data-parsley-trigger="keyup" data-parsley-minlength="20"
                              data-parsley-maxlength="40"
                              data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                              data-parsley-validation-threshold="20">{{ fault.effect }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="content">处理流程 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="content" class="form-control" name="content" data-parsley-trigger="keyup" data-parsley-minlength="20"
                              data-parsley-maxlength="200"
                              data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                              data-parsley-validation-threshold="20">{{ fault.content }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reasons">故障原因 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="reasons" class="form-control" name="reasons" data-parsley-trigger="keyup" data-parsley-minlength="20"
                              data-parsley-maxlength="200"
                              data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                              data-parsley-validation-threshold="20">{{ fault.reasons }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="solution">解决方案 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="solution" class="form-control" name="solution" data-parsley-trigger="keyup" data-parsley-minlength="20"
                              data-parsley-maxlength="200"
                              data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                              data-parsley-validation-threshold="20">{{ fault.solution }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lesson">经验总结 <span class="required"> </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="lesson" class="form-control" name="lesson" data-parsley-trigger="keyup" data-parsley-minlength="20"
                              data-parsley-maxlength="100"
                              data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                              data-parsley-validation-threshold="10">{{ fault.lesson }}</textarea>
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <span class="up_faultValid" CurlId="{{ fault.id }}">
                      <button type="button" class="btn btn-success">保存</button>
                    </span>
                    <span class="up_faultReset">
                      <button class="btn btn-primary" type="reset">重置</button>
                    </span>
                  </div>
                </div>
              </form>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- 自定义js -->
  <script src="/static/js/validfaultform.init.js"></script>
{% endblock javascripts %}